.form-select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-text {
  width: max-content;
  text-align: center;
}

.select {

  margin-top: 5px;
  width: 280px;
  height: 45px;
  padding-left: 10px;

}

