@import './reset.css';

* {
  font-family: 'Montserrat', sans-serif;
}



.logo {
  max-width: 1920px;
  max-width: 300px;
  margin-bottom: 20px;

}

.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.form-horizontal-box {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around
}


